body{
  margin: 0;
  background-color:rgb(180, 119, 119)
}

div{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1{
  font-size:40px;
  color:rgb(163, 27, 38);
}

h1:nth-child(2){
  color:black;
}

h1:nth-child(6){
  color:rgb(184, 222, 231);
}

button{
  font-size: 18px;
  font-weight: 700;
  margin:5px;
  text-align: center;
  background-color:rgb(142, 192, 137);
  color: rgb(245, 240, 242);
  border: none;
  padding:5px;
  border-radius:5px;
  
}